
@import url('http://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');


*{ 
	padding: 0 auto; 
	margin: 0 auto; 
	 
}
html, body{height:50%;}
body {margin:0;}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++
	GENERAL
++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
body {
	color: #fff;
	font: normal 16px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
   
    background-size:default;
	overflow-x: hidden;

    font-family:  sans-serif;
  
	text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    
    
	
}



h1 strong{
	font-weight: 900;
}
h2{
	line-height: 20px;
	margin:  0;
}
h3{
font-size: 1.2em;
font-weight: 700;
}

h5{
	
	font-weight: 700;
	line-height: 20px;
}


a{ 
  text-decoration: none !important;
  transition:all 0.3s linear;
  -webkit-transition:all 0.3s linear;
  -moz-transition:all 0.3s linear;
  -ms-transition:all 0.3s linear;
   -o-transition:all 0.3s linear;
  
}
ul
{
    list-style: none;
    margin:0;
    padding:0;
}
.text-capitalize
{
    text-transform: uppercase;
}


.wrapper
{    
    position:relative;
    
}




/*	TYPOGRAPHY
------------------------------*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

/*	BUTTON
------------------------------*/
.btn {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    margin-top: 40px;
    border:1px solid #fff;
}
.btn:focus,.btn:active {
    outline: none;
    color: #ffffff;
}
.btn-custom{
	border-radius: 3px;
	padding: 0.8em 1.8em;
	color: #fff;
	font-weight: 700;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	transition: all .5s ease-out;
	text-transform: uppercase;
}
.btn-custom:hover,.btn-custom:focus{
    color: #fff;
}

.btn-bar a{
	margin-right: 10px;
}

/*	PRELOADER
------------------------------*/

@-webkit-keyframes loader {
    0%, 10%, 100% {
        width: 80px;
        height: 80px;
    }
    65% {
        width: 150px;
        height: 150px;
    }
}

@keyframes loader {
    0%, 10%, 100% {
        width: 80px;
        height: 80px;
    }
    65% {
        width: 150px;
        height: 150px;
    }
}




 
/* Navigation */
.nim-menu{
	
	transition: all 0.8s;
        background:#000;
        border-bottom:none;
        transition:all 0.4s ease-in;
        -webkit-transition:all 0.4s ease-in;
        -moz-transition:all 0.4s ease-in;
        -ms-transition:all 0.4s ease-in;
         
}

.nim-menu a.navbar-brand {
text-transform: uppercase;
font-size: 1.5em;
font-weight: 700;
color:#fff;
}



.nim-menu.navbar-default .navbar-nav > li > a {
	
	color: #fafafa;
	letter-spacing: 1px;
        font-size:.73em;
       text-shadow:1px 0px rgba(0,0,0,0.5);
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	
	background-color: transparent;
	font-weight: 700;
        
}

.navbar-toggle {
	border-radius:20%;
        transition:all 1s;
        
	}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	box-shadow:2px 2px 3px 3px rgba(0,0,0,0.4);
        -webkit-box-shadow:2px 2px 3px 3px rgba(0,0,0,0.4);
        -moz-box-shadow:2px 2px 3px 3px rgba(0,0,0,0.4);
        -ms-box-shadow:2px 2px 3px 3px rgba(0,0,0,0.4);
	}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
	}
        
        
       
/*	MAIN HEADING
------------------------------*/



.main-heading
{
   background: url(../images/main_back.jpg) center center no-repeat;
	background-size:default;
	background-attachment: fixed;
	color: #cfcfcf;
    margin-top:0px;
        
}

.overlay{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
	background-attachment: fixed;
}

.main-heading >.overlay
{
    height: 1070px;
}
p.lead
{
   position:relative;
   top:5px;
   color:#e3e3e3;
   font-size:0.93em;
   
}

.main-heading-content {
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
}

.main-heading-title {
	font-weight: 900;
	color: #ffffff;
	text-transform: uppercase;
	font-size:3.5em;
	text-shadow: rgba(0,0,0,0.498039) 2px 2px 2px;
	letter-spacing: 0.02em;
	
}
.main-heading-title span {
	margin-left: 6px;
}
.main-heading-text {
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 20px;
}
.main-cursor {
	opacity: 1;
	-webkit-animation: blink .6s infinite;
	-moz-animation: blink .6s infinite;
	-ms-animation: blink .6s infinite;
	-o-animation: blink .6s infinite;
	animation: blink .6s infinite;
}


/*----------------SITE FOOTER

-------------------------------------------------------*/
.site-footer
{
    background:#fafafa;
   height:100px;
   min-height: fit-content;
   padding-top: 20px;
   
}

.footer-links,.site-footer small
{ 
    margin: 0 0 .10em;
}

.site-footer small,.footer-links a
{
  color: #8A8A8A;
  font-weight: 300;
  font-size:0.93em;
}


.footer-links a:first-child 
{
    padding-right: .3em;
}

/*----------------SOCIAL

-------------------------------------------------------*/

.social li {
  display: inline-block;
  padding-right: .5em;
  text-align: center;
}

.social li:last-child { padding-right: 0; }

.social li a {
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  border-radius: 50%;
  position: relative;
  transition: all .8s ease;
  font-size: 1.3em;
  background: #D6D6D6;
  
}

.social li a:hover {

  background:#000;
}




